[user]
	name = Weirong Xu
	email = weirongxu.raidou@gmail.com
[credential]
	helper = store
[core]
	quotepath = false
	editor = vim
	excludesfile = ~/.gitignore
	ignorecase = false
[github]
	user = weirongxu
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
