" movement
nmap <S-h> gT
nmap <S-l> gt
nmap <C-h> <C-w>h
nmap <C-l> <C-w>l
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-w>q :q<cr>
imap <C-e> <C-o>A
imap <C-a> <C-o>I

" idea
command Restart action InvalidateCaches

" explorer
nmap <space>er <Action>(SelectInProjectView)
nmap <space>ee <Action>(ActivateProjectToolWindow)

" search
nmap <C-S-P> <Action>(SearchEverywhere)
nmap <C-P> <Action>(GotoFile)
nmap <space>fg <Action>(FindInPath)

" format, saving
nmap <space>ff <Action>(ReformatCode)
nmap <space>fi <Action>(OptimizeImports)
nmap <space>s <Action>(SaveDocument)

" Actions
nmap <space><cr> <Action>(ShowIntentionActions)

" completion
imap <c-l> <Action>(CodeCompletion)

" references
nmap gr <Action>(FindUsages)
nmap gy <Action>(GotoTypeDeclaration)

" jumping
nmap [c <Action>(VcsShowPrevChangeMarker)
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)

" refactoring
nmap <space>rn <action>(RenameElement)